<div id="content">
  <% if flash[:notice] -%>
    <div id="flash">
      <div style="margin-bottom:0px;">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end -%>

  <div id="new_service">
    <h2><%= link_to "Services", services_path %> > Update service moderator [<%= @user_mod.username %>] &nbsp;&nbsp;
      <%= image_tag("spinner.gif",:align => "absmiddle",
        :border => 0,:id => "spinner",
        :style =>"display: none;" ) %></h2>

    <ul>
      <% @user_mod_service.errors.each_with_index do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
    </ul>
    <%= form_tag :action => 'update_service_mod', :id => @user_mod_service do -%>
      <table>
        <tbody>
          <tr>
          <tr>
            <%= hidden_field :user_mod_service, :user_mod_id, :value => @user_mod.id  %>
            <td>Service:</td>
            <td><%= collection_select :user_mod_service, :service_id,
                Service.find(:all, :conditions => "id != 1 and user_id = '#{session[:user_id]}'",
                :order => "name ASC"), :id, :name,
                :prompt => "Select"%></td>
            <td>
              <a class="submit"><%= submit_tag "Add", :name => "add_mod_service" %></a></td>
          </tr>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

