<%= javascript_include_tag 'pagination' %>
<div id="content">
  <% if flash[:notice] -%>
    <div id="flash">
      <div style="margin-bottom:0px;">
        <%= flash[:notice] %>
      </div>
      <script type="text/javascript">
        setTimeout("new Effect.Fade('flash');", 500)
      </script>
    </div>
  <% end -%>

  <h2><%= link_to "Messages", :action => "index"%> > <%= link_to "inbound messages", :action => "inbound"%> > Filter by frequency <i>[<%= params[:query2]%>]</i>&nbsp;&nbsp;
    <%= image_tag("spinner.gif",:align => "absmiddle",
      :border => 0,:id => "spinner",
      :style =>"display: none;" ) %></h2>


  <% @services = Service.find(:all, :conditions => @conditions,
    :order => "name ASC") %>

  <table width="100%">
    <tr>
      <td width="50%">
        <table>
          <tr>
            <th align ='left'><i>Service </i></th>
            <td align = "left">
              <% form_tag :action => "search_by_service"  do %>
                <%= select_tag :query1, options_from_collection_for_select(@services,
                  :id, :name, params[:query1])%>
                <%= submit_tag 'Search' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th align ='left'><i>Sender </i></th>
            <td align = "left">
              <% form_tag :action => "search_by_sender"  do %>
                <%= text_field_tag("query2", params['query2'], :size => 13 ) %>
                <%= submit_tag 'Search' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th align ='left'><i>Content </i></th>
            <td align = "left">
              <% form_tag :action => "search_by_content"  do %>
                <%= text_field_tag("query3", params['query3'], :size => 20 ) %>
                <%= submit_tag 'Search' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th align ='left'><i>Date selection </i></th>
            <td align = "left"><i>
                <% form_tag :action => "search_by_date", :search_id => "selection" do %>
                                                                  From : <%= date_select("date_from", "",
                    :min_date => Date.today,
                    :max_date => 12.weeks.from_now)%><br>
                                                                  To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                  <%= date_select("date_to", "", :min_date => Date.today,
                    :max_date => 12.weeks.from_now)%>&nbsp;&nbsp;
                  <%= submit_tag 'Search', :name => "" %>
                <% end %></i>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <i><strong>Filters...........</strong></i>
  <br>
  <div id="inbound">
    <%= render "filtered_messages" %>
  </div>

  <div id="msg">
  </div>
</div>
