<script language="javascript">
  function validateSendM() {
    if ($("message_dest") != null){
      var code = document.getElementById('message_dest').value
    }
    else{
      var code ="owner"
    }
    var mess = document.getElementById('message_content').value
    if (code==null||code=="") {
      document.getElementById('message_dest').style.backgroundColor='#FFFFB0';
      
      alert('Please select short code!');
      return false;
		  
    }
    if (mess==null||mess=="")
    {
      document.getElementById('message_content').style.backgroundColor='#FFFFB0';
      alert('Message content is empty!');
      return false;
    }
    var phone2 = /^(\+24381|24381|\+24382|24382|081|082)\d{7}$/;
    var phone_number = document.getElementById('message_phone_single').value
    if (phone_number.match(phone2)) {
      return true;
    } else {
      document.getElementById('message_phone_single').style.backgroundColor='#FFFFB0';
      document.getElementById('message_phone_single').style.borderColor='#666666';
      document.getElementById('message_phone_single').value = '+2438'
      alert('Invalid phone number format!');
      return false;
    }
  }
</script>
<div id="content">
  <% if flash[:notice] -%>
    <div id="flash">
      <div style="margin-bottom:0px;">
        <%= flash[:notice] %>
      </div>
      <script type="text/javascript">
        setTimeout("new Effect.Fade('flash');", 500)
      </script>
    </div>
  <% end -%>

  <h2><%= link_to "Messages", messages_path%> > Send message&nbsp;&nbsp;
    <%= image_tag("spinner2.gif",:align => "absmiddle",
      :border => 0,:id => "spinner2",
      :style =>"display: none;" ) %></h2>
  <% if session[:user_type] == "SA"%>
    <% @conditions = "code != 'All'"%>
  <% else %>
    <% @conditions = "user_id = #{session[:user_id]}"%>
  <% end %>
  <div id="send_sms">
    <table>
      <%= form_tag :controller => "messages", :action => 'send_message', :id => @message do -%>

        <tr>
          <td>Short code</td><td><%= collection_select 'message', 'dest',
              ShortCode.find(:all, :conditions => @conditions, :joins => "left join user_short_codes on user_short_codes.short_code_id=short_codes.id",	:select => "user_short_codes.user_id, short_codes.code, short_codes.id, short_codes.smsc"), :id, :short_code_with_smsc %></td>
        </tr>
        <tr id="single_p">
          <td>Phone number</td><td><%= text_field :message, :phone_single, :size => 15, :value => "+2438", :onKeyUp => "checkPhone(this);", :onKeyDown => "checkPhone(this);" %></td>
        </tr>
        <tr id="multi_p" style="display: none;">
          <td>Phone (multiple)</td><td><%= text_field :message, :phone_multi, :size => 50 %></td>
        </tr>
        <tr id="csv_p" style="display: none;">
          <td>File</td>
          <td><%= file_field :message, :file -%>
          </td>
        </tr>
        <tr id="group_p" style="display: none;">
          <td>Group</td>
          <td><%= collection_select :message, :group_id, Group.find(:all, :conditions => "user_id='#{session[:user_id]}'"), :id, :name, :prompt => "Select" %>
          </td>
        </tr>
        <tr>
          <td>Message</td><td><%= text_area :message, :content, :rows => 5, :cols => 40, :onKeyUp => "textCounter(this, document.getElementById('len'), 160)", :onKeyDown => "textCounter(this, document.getElementById('len'), 160)" %></td>
        </tr>
        <tr><td><input readonly type="text" id="len" size="3" maxlength="3" value="160"/>characters left</td></tr>

        <tr>
          <% if @status == 0%>
            <td bgcolor = "#fbb508">SMS Gateway not available</td>
          <% else %>
            <% if @curr_status == "isolated"%>
              <td bgcolor = "#fbb508">SMS Gateway ISOLATED</td>
              <td><i>Cannot send messages for the moment, contact your sys. admin.</i></td>
            <% else %>
              <% if @curr_status == "running" and @box_status != nil%>
                <td>
                  <a class="submit"><%= submit_tag "Send message", :name => "send_message", :onclick =>  "return validateSendM()" %></a>
                </td>
              <% else %>
                <td bgcolor = "#fbb508">SMS Box not available</td>
                <td><i>Cannot send messages for the moment, contact your sys. admin.</i></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
