<script language="javascript">
  function validateSendM() {
    if ($("message_dest") != null){
      var code = document.getElementById('message_dest').value
    }
    else{
      var code ="owner"
    }
    var mess = document.getElementById('message_content').value
    if (code==null||code=="") {
      document.getElementById('message_dest').style.backgroundColor='#FFFFB0';

      alert('Please select short code!');
      return false;

    }
    if (mess==null||mess=="")
    {
      document.getElementById('message_content').style.backgroundColor='#FFFFB0';
      alert('Message content is empty!');
      return false;
    }
  }
  function textCounter(field,cntfield,maxlimit) {
    if (field.value.length > maxlimit)
      field.value = field.value.substring(0, maxlimit);
    else
      cntfield.value = maxlimit - field.value.length;

  }
</script>
<h3>Send message to <i>[<%= params[:phone]%>]</i></h3>
&nbsp;&nbsp;<%= image_tag("spinner2.gif",:align => "absmiddle",
  :border => 0,:id => "spinner2",
  :style =>"display: none;" ) %></h3>
<div id="send_sms">
  <table>

    <%= form_tag({:action => "send_single_message", :destination => params[:id]}, {:method => "post", :remote => true, :"data-ajax" => true}) do %>
      <tr>
        <td>Short code</td><td><%= collection_select 'message', 'source',
            ShortCode.find(:all, :conditions => "code != 'All'"), :code, :code, {:prompt => "Select"} unless session[:user_type] != "SA" %></td></tr>
      <tr>
        <td>Message</td><td><%= text_area :message, :content, :rows => 5, :cols => 40, :onKeyUp => "textCounter(this, document.getElementById('len'), 125)", :onKeyDown => "textCounter(this, document.getElementById('len'), 125)" %></td>
      </tr>
      <input readonly type="text" id="len" size="3" maxlength="3" value="125"/>characters left


      <tr>
        <% if @status == 0%>
          <td bgcolor = "#fbb508">SMS Gateway not available</td>
        <% else %>
          <% if @curr_status == "isolated"%>
            <td bgcolor = "#fbb508">SMS Gateway ISOLATED</td>
            <td><i>Cannot send messages for the moment, contact your sys. admin.</i></td>
          <% else %>
            <% if @curr_status == "running" and @box_status != nil%>
              <td>
                <a class="submit">
                  <%= image_submit_tag("sms2.png", :onclick => "return validateSendM();") %>
                </a>
              </td>

              <td><i>This message will be sent to 1 recipient<br>
                  <% if @user.sms_limit == true%>Available stock : <%=h @user.sms_stock %><% end %></i></td>

            <% else %>
              <td bgcolor = "#fbb508">SMS Box not available</td>
              <td><i>Cannot send messages for the moment, contact your sys. admin.<br>
                  <% if @user.sms_limit == true%>Available stock : <%=h @user.sms_stock %><% end %></i></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>


    <% end %>

  </table>
</div>
