<div data-role="header">
  <h1>Moov Muzik</h1>
</div>
<div data-role="content">
  <%  if @ringtone %>
    <table>
      <tr>
        <th>Sonnerie</h>
      </tr>
      <tr><td>Titre: </td><td><%= @ringtone.song_title %></td></tr>
      <tr><td>Type de fichier: </td><td><%= @ringtone.f_extension %></td></tr>
      <tr><td>Taille du fichier: </td><td><%= @ringtone.f_size %></td></tr>
    </table>
    <%= form_tag({:controller => "ringtones", :action => "download_ringtone"}, {:method => "get"}) do %>
      <%= hidden_field "ringtone", "id", :value => @ringtone.id %>
      <%= password_field_tag :password, params[:password], :size => 10 %>
      <%= submit_tag 'Télécharger', :"data-theme" => "b", :name => "", :onclick => "return validateDownload()", :onkeypress => "validateDownload()" %>
    <% end %>
  <%  else %>
    <%= @message  %>
  <%  end %>

</div>