<div data-role="header">
  <h1>Moov Muzik</h1>
  <a href="/home" data-role="button" data-icon="home">Acceuil</a>
</div>
<div data-role="content">
  <%  if @ringtone %>
    <table>
      <tr><td>Titre: </td><td><%= @ringtone.song_title %></td></tr>
      <tr><td>Type de fichier: </td><td><%= @ringtone.f_extension %></td></tr>
      <tr>
        <td>Code secret:</td>
        <td>

          <%= form_tag({:action => "check_key"}, {:method => "post", :remote => true, :"data-ajax" => true}) do %>
            <%= hidden_field "ringtone", "id", :value => @ringtone.id %>
            <%= text_field_tag :password, params[:password], :size => 10 %></td>
        </tr>
      </table>
      <%= submit_tag "Valider code secret", :"data-theme" => "b", :name => "" %>
    <% end %>
  <%  else %>
    <%= @message  %>
  <%  end %>
</div>
