<div id="content">
  <% if flash[:notice] -%>
    <div id="flash">
      <div style="margin-bottom:0px;">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end -%>

  <div id="update_contact">
    <h2><%= link_to "Contacts/Groups", contacts_path %> > Update contact&nbsp;&nbsp;
      <%= image_tag("spinner.gif",:align => "absmiddle",
        :border => 0,:id => "spinner",
        :style =>"display: none;" ) %></h2>
    <ul>
      <% @contact.errors.each_with_index do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
    </ul>

    <%= form_tag :controller => "contacts", :action => 'update_contact', :id => @contact do -%>
      <table>
        <tbody>
          <tr>
          <tr>
            <td>Name:</td>
            <td><%= text_field :contact, :name, :size => 30 %></td>
          </tr>
          <tr>
            <td>Group:</td>
            <td><%= collection_select :contact, :group_id, Group.find(:all, :conditions => "user_id = '#{session[:user_id]}' or user_id=0"),
                :id, :name, :prompt => "Select" %></td>
          </tr>
          <tr>
            <td>Phone #:</td>
            <td><%= text_field :contact, :phone_no, :size => 15 %></td>
          </tr>
          <%= hidden_field :contact, :user_id, :value => session[:user_id] %>

          <tr><td>
              <a class="submit"><%= submit_tag "Save", :name => "save_contact" %></a> </td>
          </tr>
          </tr>
        </tbody>
      </table>
    <% end -%>

  </div>
</div>
