<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="" />

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag 'jquery'%>

    <link rel="shortcut icon" href="ezgate.ico" type="image/ico" />
    <title>ezGate</title>
    <% if !session[:user_id].nil? %>
      <script language=JavaScript>
        function textCounter(field,cntfield,maxlimit) {
          if (field.value.length > maxlimit)
            field.value = field.value.substring(0, maxlimit);
          else
            cntfield.value = maxlimit - field.value.length;

        }
        function fill_trash() {
          $('trash').src = "/images/trashfull.jpg";
        }
        function empty_trash() {
          $('trash').src = "/images/trash.jpg";
        }
        function validateImport() {
          var group = document.getElementById('dump_grp_id').value
          var file = document.getElementById('dump_file').value
          if (group==null||group=="") {
            document.getElementById('dump_grp_id').style.backgroundColor='#FFFFB0';
            document.getElementById('dump_grp_id').style.borderColor='#666666';
            alert('Please select group!');
            return false;

          }
          if (file==null||file=="")
          {
            document.getElementById('dump_file').style.backgroundColor='#FFFFB0';
            document.getElementById('dump_file').style.borderColor='#666666';
            alert('Please select file to import!');
            return false;
          }
        }
        function checkfld(radioObj) {
          if (radioObj.id == "number1"){
            document.getElementById("single_p").style.display = "";
            document.getElementById("multi_p").style.display = "none";
            document.getElementById("csv_p").style.display = "none";
            document.getElementById("group_p").style.display = "none";
          }
          if (radioObj.id == "number2"){
            document.getElementById("single_p").style.display = "none";
            document.getElementById("multi_p").style.display = "";
            document.getElementById("csv_p").style.display = "none";
            document.getElementById("group_p").style.display = "none";
          }
          if (radioObj.id == "number3"){
            document.getElementById("single_p").style.display = "none";
            document.getElementById("multi_p").style.display = "none";
            document.getElementById("csv_p").style.display = "";
            document.getElementById("group_p").style.display = "none";
          }
          if (radioObj.id == "number4"){
            document.getElementById("single_p").style.display = "none";
            document.getElementById("multi_p").style.display = "none";
            document.getElementById("csv_p").style.display = "none";
            document.getElementById("group_p").style.display = "";
          }
        }

        function checkPhone(str)
        {
          var phone2 = /^(\+24381|24381|\+24382|24382|081|082)\d{7}$/;
          if (str.value.match(phone2)) {
            return true;
          } else {
            str.style.backgroundColor='#FFFFB0';
            str.style.borderColor='#666666';
            return false;
          }
        }
      </script>


    </head>

    <body>

      <div id="wrap">
        <div id="header">
          <p id="toplinks">
          <div align="right">
            <strong><i><%= "Short code(s) : #{session[:short_code]}" unless session[:user_type] == "Moderator"%></i></strong><br>
            <% user = User.find(session[:user_id]) unless session[:user_type] == "Moderator"%>
            <strong><i><%= "SMS Stock : #{user.sms_stock}" unless session[:user_type] == "Moderator" or user.sms_limit == false %></i></strong><br>
            <%= session[:name] %> [<%= session[:user_type] %>],
            <%= link_to("Log out", :controller => "login", :action => "logout")%>
          </div>

        </div>
        <div id="container">
          <div  id="avmenu">
            <ul>
              <li><a href="/messages">Messages</a></li>
              <li><a href="/contacts">Contacts/Groups</a></li>
              <% if ["SA","Administrator","Service-Aggregator"].include?(session[:user_type]) %>
                <li><a href="/services">Services</a></li>
              <% end %>
              <% if session[:user_type] != "Moderator" %>
                <li><a href="/report">Reports</a></li>
              <% end %>
              <% if session[:user_type] == "SA" or session[:user_type] == "Administrator" %>
                <li><a href="/users">Users</a></li>
              <% end %>
              <% if session[:user_type] == "SA" or session[:user_type] == "Administrator" %>
                <li><a href="/settings">Settings</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <%= yield  %>

      </div>
    </body>
  <% else %>
    <body
      <div id="wrap">
          <% if flash[:notice] -%>
          <div id="flash">
            <div style="margin-bottom:0px;">
              <%= flash[:notice] %>
            </div>
          </div>
        <% end -%>
        <%= yield  %>
        <div id="footer">
          <p/><a href="#">Contact us</a> |
          <a href="#">Privacy policy</a>
          <br />&copy; 2012 ez-Gate
        </div>
      </div>
    </body>
  <% end %>
</html>
