<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="" />

    <%= stylesheet_link_tag "main"%>
    <%= javascript_include_tag :defaults, 'jquery' %>

    <link rel="shortcut icon" href="ezgate.ico" type="image/ico" />
    <title>ez-Gate</title>
  </head>

  <body>

    <div id="wrap">
      <div id="header">
        <p id="toplinks">
        <div align="right">
          <strong><i><%= "Short code(s) : #{session[:short_code]}" unless session[:user_type] == "Moderator"%></i></strong><br>
          <% user = User.find(session[:user_id]) unless session[:user_type] == "Moderator"%>
          <strong><i><%= "SMS Stock : #{user.sms_stock}" unless user.sms_limit == false%></i></strong><br>
          <%= session[:name] %> [<%= session[:user_type] %>],
          <%= link_to("Log out", :controller => "login", :action => "logout")%>
        </div>

      </div>
      <div id="container">
        <div  id="avmenu">
          <ul>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/contacts">Contacts/Groups</a></li>
            <% if session[:user_type] != "Bulk-push" or session[:user_type] != "Moderator" %>
              <li><a href="/services">Services</a></li>
            <% end %>
            <% if session[:user_type] != "Moderator" %>
              <li><a href="/report" class="current">Reports</a></li>
            <% end %>
            <% if session[:user_type] == "SA" or session[:user_type] == "Administrator" %>
              <li><a href="/users">Users</a></li>
            <% end %>
            <% if session[:user_type] == "SA" or session[:user_type] == "Administrator" %>
              <li><a href="/settings">Settings</a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= yield  %>

    </div>
  </body>
</html>
